<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEEP BEEP</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <h1>History</h1>
        {% if chart_path %}
            <img src="{{ chart_path }}" alt="Chart">
        {% endif %}
        <!-- <img src="{{ url_for('static', filename='chart.png') }}" alt="Bar Chart"> -->
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
      function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
          var imagePreview = document.getElementById("image-preview");
          imagePreview.src = reader.result;
          imagePreview.style.display = "block";
        }
        reader.readAsDataURL(event.target.files[0]);
      }
    </script>
  </body>
</html>
